section {
    height: 100vh; /* Each section takes full screen height */
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: rgba(110, 107, 107, 0.8);
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    z-index: 100;
  }
  
  .navbar a, .navbar button {
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 25px;
  }
  
  .menuItems {
    display: flex;
    gap: 19px;
  }

  @media screen and (max-width: 768px) {
    .menuItems {
      flex-direction: column;
      display: none;
    }
  
    .menuOpen {
      display: flex;
    }
  }
  